body{
    background-color: #31586f;
    font-family: 'Oshwald', sans-serif;
    overflow-y: hidden;
  }
  .signup-box{
      width: 360px;
      height:600px;
      margin: auto;
      background-color: aliceblue;
      border-radius: 4px;
  }
/* Login */

.login-box{
    width: 360px;
    height: 590px;
    margin: auto;
    border-radius: 4px;
    background-color: aliceblue;

  }
  .Forget-box{
    width: 360px;
    height: 190px;
    margin: auto;
    border-radius: 4px;
    background-color: aliceblue;
  }

  h5{
    text-align: left;    
    padding-inline: 20px;
    padding-top: 20px;
  }
  
  h1{ 
      text-align: center;
      padding-top: 15px;
  
  }
  
  h2{
      text-align: center; 
  }
  
  form{
      width: 300px;
      margin-left: 20px;
  }
  
  form label{
      display: flex;
      margin-top: 20px;
      font-size: 18px;
  }
  
  form input{
      width: 100%;
      padding: 7px;
      border: none;
      border: 1px solid gray;
      border-radius: 6px;
      outline: none;
  }
  
  input[type="button"]{
      width: 320px;
      height: 35px;
      margin-top: 20px;
      border: none;
      background-color:#49c1a2;
      color:white;
      font-size: 18px;
  }
  P{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }

  input[type="button1"]{
      width: 320px;
      height: 35px;
      margin-top: 20px;
      border: none;
      background-color:#49c1a2;
      color:white;
      font-size: 18px;
  }
  
  
  .C-2{
      text-align:center;
      color: black;
      font-size: 15px;
      margin: -10px;
  }
  
  .C-2 a{
      color: #49c1a2;
  }
 /*Login*/

  .C-3{
    text-align:center;
    color: black;
    font-size: 15px;
    margin: -10px;
}

.C-3 a{
    color: #49c1a2;
}
  .C-4{
    text-align: center;
    font-size: 12px;
    margin: -10px;
  }

  .C-4 a {
    color: #49c1a2;
  }

  @media screen (470 px){
    
  }